<%- include('header') -%>
	<h1>
		<%= locals.title ?? '' %>
	</h1>

	<% if (locals.loggedIn) { %>
		<p>Innskráður notandi: <%= locals.username %> (<%= locals.admin ? 'admin' : 'notandi' %>)
					<% } else { %>
						<p>Þú ert ekki innskráður notandi.</p>
						<% } %>


							<section>
								<h2>Umsjónarsíða</h2>
								<p>Innskráningar krafið til að eiga við gögn:</p>
								<p><a href="/admin">Innskrá</a></p>
							</section>

							<%- include('footer') -%>