<%- include('header') -%>
	<h1>
		<%= title %>
	</h1>
	<form method="post" action="/register" autocomplete="off">
		<%- include('user') -%>
			<div>
				<input type="checkbox" id="king" name="king" />
				<label for="king">Vera admin?</label>
			</div>
			<% if (message) { %>
				<p>
					<%= message %>
				</p>
				<% } %>
					<button>Stofna aðgang</button>
	</form>

	<%- include('footer') -%>