<h1>Seinustu leikir</h1>
<table>
	<thead>
		<th class="olddate">Dagsetning</th>
		<th class="team__home">Heima lið</th>
		<th class="team__home__score">Heima lið skor</th>
		<th class="team__away">Útilið</th>
		<th class="team__away__score">Útilið skor</th>
	</thead>
	<tbody>
		<% let datevariable%>
			<% for (const game of locals.games) { %>
				<tr>
					<% if (String(game.date)!==String(datevariable)) { %>
						<td class="newdate">
							<% } else { %>
						<td class="olddate">
							<% } %>
								<%= String(game.date.toISOString().slice(0,
									10).split('-').reverse()).replaceAll(',', '/' ) %>
						</td>
						<td class="team__home">
							<%= game.home.name %>
						</td>
						<td class="team__home__score">
							<%= game.home.score %>
						</td>
						<td class="team__away">
							<%= game.away.name %>
						</td>
						<td class="team__away__score">
							<%= game.away.score %>
						</td>
				</tr>

				<% datevariable=game.date %>
					<% } %>
	</tbody>
</table>